@require './../../styles/colors.styl'

.avatar 
  width 12.1rem 
  height 12.1rem 
  border 0.07rem solid mainBlue 
  border-radius 100% 
  margin auto 
  
  &__filler
    border 0.07rem solid mainBlue 
    background-color mainBlue 
    margin 0.67rem
    height 10.6rem 
    width 10.6rem 
    border-radius 100% 
