.avatar 
  width 14.375rem
  height 14.375rem
  border 0.07rem solid mainBlue 
  border-radius 100% 
  margin auto 
  
  &__filler
    border 0.07rem solid mainBlue 
    background-color mainBlue 
    margin 0.875rem
    height 12.5rem
    width 12.5rem
    border-radius 100% 
