.software
  &__level 
    display  inline-block 
    margin  1.43rem 1.43rem 0 0 
    font-size  1.28rem 
    text-transform  uppercase 
    &_color_gray 
      background-color  #e7e7e7 
      width  18rem 
      height  1.43rem 
    &_color_blue 
      background-color  #036fbc 
      height  100% 
      width  100% 