.resume
  max-width 74.375rem
  margin auto
  margin-top 4.8125rem  
  display flex
  justify-content center
  flex-wrap wrap

  &__column 
    display inline-block 
    vertical-align top 
    text-align left 
    margin-left 3rem

  &__column_left
    width 37%
    min-width 25.625rem
    margin-top 0.625rem

  &__column_right 
    width 40%
    min-width 40.8125rem

  &__candidate
    margin-bottom 2.5rem 

  &__profile
    padding-top 2.25rem