.resume
  max-width 156.25rem
  margin 2.85rem auto 

  &__column 
    display inline-block 
    vertical-align top 
    text-align left 
    padding  0 2.5rem 

  &__column_left
    max-width 35%

  &__column_right 
    max-width 45%

  &__elements_candidate
    margin-bottom 2.86rem 