include ./../title/title

mixin software

    header.software 
        +title('software')
        .software__content
            .software__level photoshop
                .software__level_color-gray
                    .software__level_color-blue.software__level_photoshop
            .software__level dreamweaver
                .software__level_color-gray 
                    .software__level_color-blue.software__level_dreamweaver 
            .software__level illustrator
                .software__level_color-gray 
                    .software__level_color-blue.software__level_illustrator
            .software__level after effects
                .software__level_color-gray
                    .software__level_color-blue.software__level_afterEffects 
            .software__level indesign
                .software__level_color-gray 
                    .software__level_color-blue.software__level_indesign
            .software__level html & css3
                .software__level_color-gray 
                    .software__level_color-blue.software__level_htmlCss3
