.software__content
  .software__level 
    display  inline-block 
    margin  1.43rem 1.43rem 0 0 
    font-size  1.28rem 
    text-transform  uppercase 
    &_color-gray 
      background-color  #e7e7e7 
      width  18rem 
      height  1.43rem 
    &_color-blue 
      background-color  #036fbc 
      height  100% 
      width  100% 
    &_photoshop 
      width  95% 
    &_dreamweaver 
      width  85% 
    &_illustrator 
      width  75% 
    &_afterEffects 
      width  70% 
    &_indesign 
      width  60% 
    &_htmlCss3 
      width  95% 