include ./../title/title
include ./software-element/software-element

mixin software

    section.software 
        +title('software')
        +software-element('photoshop', 95)
        +software-element('dreamweaver', 85)
        +software-element('illustrator', 75)
        +software-element('after effects', 70)
        +software-element('indesign', 60)
        +software-element('html & css3', 95)
