mixin software({name,percentValue})
    .software 
        .software__level= name
            .software__level-scale
                .software__level-scale_filler(style = "width:" + percentValue + "%;")