mixin software-element(data)
    .software 
        .software__level= data.name
            .software__level-scale
                .software__level-scale_filler(style = "width:" + data.percent_value + "%;")