mixin software({name,percent_value})
    .software 
        .software__level= name
            .software__level-scale
                .software__level-scale_filler(style = "width:" + percent_value + "%;")