include ./avatar/avatar.pug

mixin candidate(data)

    +avatar(`${data.image_url}`)
    .candidate-name 
        .candidate-name__first-name= data.name
        .candidate-name__surname= data.surname
        .candidate-name__profession= data.profession 
