include ./../avatar/avatar.pug

mixin candidate({image_url, name, surname, profession })

    +avatar({image:`${image_url}`})
    .candidate 
        .candidate__first-name= name
        .candidate__surname= surname
        .candidate__profession= profession 
