@require './../../styles/colors.styl'

.candidate-name 
    text-align center 
    line-height 1.57rem 
    text-transform uppercase 
    padding-top 2.39rem 

    &__first-name 
      font-size 2.3rem 
      font-weight 200 

    &__surname 
      padding-top 0.5rem 
      font-size 2.4rem 
      letter-spacing 0.2rem 
      font-weight bold 

    &__profession 
      font-size 1rem 
      letter-spacing 0.05rem 
      font-weight bold 
