.candidate 
  text-align center 
  line-height 1.57rem 
  text-transform uppercase 
  padding-top 3rem 

  &__first-name 
    font-size 3.375rem
    word-spacing 0.1875rem 
    font-weight 200
    letter-spacing 0.0187rem 

  &__surname 
    padding-top 2rem 
    font-size 3.75rem 
    letter-spacing 0.1875rem 
    font-weight 700 
    
  &__profession 
    padding-top 1.5rem 
    font-size 1.5rem 
    letter-spacing 0.0625rem 
    font-weight bold 
