mixin candidate

    .candidate-photo
        .candidate-photo__inside-circle

    .candidate-name 
        .candidate-name__first-name name here
        .candidate-name__surname surname
        .candidate-name__proffesion graphic designer
