include ./avatar/avatar.pug

mixin candidate(image, name, surname, profession)

    +avatar(`${image}`)
    .candidate-name 
        .candidate-name__first-name= name
        .candidate-name__surname= surname
        .candidate-name__profession= profession 
