mixin candidate-mixin

    header.candidate
        .candidate__photo
            .candidate__photo_inside

        .candidate__name 
            .candidate__name_first-name name here
            .candidate__name_surname.bold surname
            .candidate__name_proffesion.bold graphic designer
