mixin contact(address, e_mail, phone, website)
    section.contact
        .contact__table
            .contact__table-column.contact__table-column_left
                .contact__table-column-data address
                .contact__table-column-data e-mail
                .contact__table-column-data phone
                .contact__table-column-data website
            .contact__table-column.contact__table-column_right
                .contact__table-column-data= address 
                .contact__table-column-data= e_mail 
                .contact__table-column-data= phone   
                .contact__table-column-data= website 