.contact
  &__table-column
    text-align left 
    display flex
    flex-direction column
    flex-wrap nowrap
    margin-right 0
    width 40%
    line-height 2rem
    vertical-align middle
    padding-top 1.78rem 
    &_left
      color #036FBC 
      text-transform uppercase 
      float left
      font-weight bold