include ./../title/title

mixin contact

    section.contact
        +title('contact')
        table.contact__table
            tr
                th.contact__table_question address
                td.contact__table_value Main Street, City.
            tr
                th.contact__table_question e-mail
                td.contact__table_value contact@domain.com
            tr
                th.contact__table_question phone
                td.contact__table_value 555-555-555
            tr
                th.contact__table_question website
                td.contact__table_value www.yourweb.com
