mixin contact({address,e_mail,phone,website})

    section.contact
        .contact__data-name address
        span.contact__data-value= address 

        .contact__data-name e-mail
        a.contact__data-value(href=`mailto:${e_mail}`)= e_mail 

        .contact__data-name phone
        a.contact__data-value(href=`tel:${phone}`)= phone   

        .contact__data-name website
        a.contact__data-value(href=`${website}`)= website 
