include ./../title/title

mixin contact

    section.contact
        +title('contact')
        .contact__table-column.contact__table-column_left
            .contact__table-column_data address
            .contact__table-column_data e-mail
            .contact__table-column_data phone
            .contact__table-column_data website
        .contact__table-column.contact__table-column_right
            .contact__table-column_data Main Street, City.
            .contact__table-column_data contact@domain.com
            .contact__table-column_data 555-555-555
            .contact__table-column_data www.yourweb.com
