.contact
  &__table 
    text-align left 
    &_question
      color #036FBC 
      padding-top 1.78rem 
      vertical-align bottom 
      text-transform uppercase 
    &_value
      padding-left 2.14rem 
      padding-top 1.07rem 
      vertical-align bottom 