.contact
  &__table
    text-align left 
    display flex
    flex-direction row

    &-column
      width 40%
      line-height 2rem
      padding-top 1.78rem 
      
      &_left
        color mainBlue 
        text-transform uppercase 
        font-weight bold
        max-width 10rem