mixin contact(address, e_mail, phone, website)

    section.contact-list
        .contact-list__data-name address
        span.contact-list__data-value= address 

        .contact-list__data-name e-mail
        a.contact-list__data-value(href=`mailto:${e_mail}`)= e_mail 

        .contact-list__data-name phone
        a.contact-list__data-value(href=`tel:${phone}`)= phone   

        .contact-list__data-name website
        a.contact-list__data-value(href=`${website}`)= website 
