mixin skill({name,value_scale,length_scale})
    .skill
        h5.skill__name= name
        ul.skill__level
            - for (var i = 1; i<=length_scale; i++) {
                if( i<=value_scale )
                    li.skill__value.skill__value_color_blue
                else
                    li.skill__value
            - }
