.title 
  width 100%
  display flex

  &__icon
    width 4.625rem 
    height 4.75rem
    background url(icons/icons.jpg) no-repeat
    padding-right 3.75rem

    &_profile 
      background-position -0.5rem -0.6875rem 

    &_contact 
      background-position -0.5rem -6.0625rem 

    &_skills 
      background-position -0.5rem -11.5625rem 

    &_education 
      background-position -0.5rem -16.875rem 

    &_experience 
      background-position -0.5rem -22.1875rem

    &_software 
      background-position -0.6875rem -27.75rem

  &__name
    font-size 2.5rem 
    font-weight bold
    line-height 4.625rem 
    letter-spacing 0.15rem
    text-transform uppercase 
    color mainBlue 

  &__line 
    margin-top 1.875rem
    margin-left 0.4375rem
    margin-right 1.375rem
    box-sizing border-box
    width 100% 
    height 0.3125rem 
    background mainBlue 
    overflow hidden