@require './../../styles/colors.styl'

.title 
  line-height 3.57rem 
  margin-left 0 
  margin-bottom 0 
  background url(icons/icons.jpg) no-repeat 0 0.5rem 
  font-size 2.14rem 
  font-weight bold
  background-size 5rem
  overflow hidden 
  padding-left 4.28rem 
  color mainBlue 
  margin-top 2.86rem 
  text-transform uppercase 
  
  &__line 
    overflow hidden 

  &__line:after 
    margin-right -100% 
    margin-bottom 0.71rem 
    margin-left 0.71rem 
    content '' 
    display inline-block 
    box-sizing border-box 
    width 100% 
    height 0.21rem 
    background mainBlue 

  &_software 
    background-position -0.45rem -19.78rem

  &_experience 
    background-position -0.45rem -15.75rem

  &_education 
    background-position -0.45rem -12rem 

  &_skills 
    background-position -0.45rem -8.1rem 

  &_profile 
    background-position -0.45rem -0.5rem 

  &_contact 
    background-position -0.45rem -4.3rem 