.title 
  width 100%
  display flex
  align-items center
  height 4.65rem
  font-size 2.5rem

  &__icon
    width 4.625rem 
    height 100% 
    background url(icons/icons.jpg) no-repeat
    padding-right 0.625rem

    &_profile 
      background-position -0.5rem -0.6875rem 

    &_contact 
      background-position -0.5rem -6.0625rem 

    &_skills 
      background-position -0.5rem -11.5625rem 

    &_education 
      background-position -0.5rem -16.875rem 

    &_experience 
      background-position -0.5rem -22.1875rem

    &_software 
      background-position -0.6875rem -27.75rem

  &__name
    font-weight bold
    letter-spacing 0.1563rem
    text-transform uppercase 
    color mainBlue 
    margin-right 0.4375rem
    position relative
    top 0.1125em

  &__line 
    flex auto
    border-top 0.3125rem solid mainBlue
    overflow hidden