@font-face 
  font-family "Myriad Pro"
  src url(fonts/myriadPro.ttf) 
  src url(fonts/myriadPro.svg) 
  src url(fonts/myriadPro.eot) 
  src url(fonts/myriadPro.woff) 

@require './../../../styles/colors.styl'
@require './../modules/**/*.styl'

html 
  font-size 16px 
  color black 
  background-color mainWhite
  font-family "Myriad Pro", Arial, sans-serif 
  
body
  margin 0 
  text-align center 

.resume
  margin 2.85rem auto 

  &__column 
    display inline-block 
    vertical-align top 
    text-align left 
    min-width 22rem 
    padding 2.5rem 
    width 50%

  &__column_left
    max-width 25rem

  &__column_right 
    max-width 39.3rem 