@font-face 
  font-family "Myriad Pro"
  src url(fonts/myriadPro.ttf) 
  src url(fonts/myriadPro.svg) 
  src url(fonts/myriadPro.eot) 
  src url(fonts/myriadPro.woff) 

@require './colors.styl'
@require './../modules/**/*.styl'

html 
  font-size 16px 
  color black 
  background-color mainWhite
  font-family "Myriad Pro", Arial, sans-serif 
  
body
  margin 0 
  text-align center 

.resume
  max-width 156.25rem
  margin 2.85rem auto 

  &__column 
    display inline-block 
    vertical-align top 
    text-align left 
    padding  0 2.5rem 

  &__column_left
    max-width 35%

  &__column_right 
    max-width 45%

  &-elements__candidate
    margin-bottom 2.86rem 