.software
  display inline-block
  margin 2% 0 0 6.5%
  font-size 1.28rem 
  text-transform uppercase 

  &__level 
    &-scale 
      background-color mainGray 
      width 18rem 
      height 1.43rem 

      &_filler
        background-color mainBlue 
        height 100% 
        width 100% 