mixin experience-element(name, date, position, text)

    li.experience__content_list-item
        span.experience__company-name= name 
        span.experience__company-date= ' // ' + date
        p.experience__job_font_courier= position
        p.experience__job_content_lorem= text