include ./experience-item/experience-item.pug

mixin experience({experience})
    ul.experience
        each item in experience
            +experience-item({companyName: item.companyName,
                                date: item.date,
                                position: item.position,
                                description: item.description})