include ./../title/title
include ./experience-element/experience-element

mixin experience

    section.experience
        +title('experience')
        ul.experience__content
            +experience-element('company name',
                'Feb 2011 - Jun 2014',
                'your job here',
                'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam consectetur quae at ipsum blanditiisaccusamus dicta, similique dolor. Repellat inventore unde ad, odit, optio tempora ex itaque alias reprehenderit. Minima. ')
            +experience-element('company name',
                'Feb 2011 - Jun 2014',
                'your job here',
                'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam consectetur quae at ipsum blanditiisaccusamus dicta, similique dolor. Repellat inventore unde ad, odit, optio tempora ex itaque alias reprehenderit. Minima. ')
            +experience-element('company name',
                'Feb 2011 - Jun 2014',
                'your job here',
                'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam consectetur quae at ipsum blanditiisaccusamus dicta, similique dolor. Repellat inventore unde ad, odit, optio tempora ex itaque alias reprehenderit. Minima. ')
