mixin experience-mixin

    header.experience
        .title.title_experience.bold experience
            span.title__line 
        ul.experience__content
            li.experience__content_list-item
                span.experience__company_name.bold company name </span>
                span.experience__company_date // Feb 2011 - Jun 2014
                p.experience__job_font-courier your job here 
                p.experience__job_content-lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam consectetur quae at ipsum blanditiisaccusamus dicta, similique dolor. Repellat inventore unde ad, odit, optio tempora ex itaque alias reprehenderit. Minima. 
            li.experience__content_list-item
                span.experience__company_name.bold company name </span>
                span.experience__company_date // Feb 2011 - Jun 2014
                p.experience__job_font-courier your job here 
                p.experience__job_content-lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil nobis enim quidem iusto ipsum doloribus reprehenderit id? Repellendus et porro voluptatibus facere eaque quasi, perspiciatis debitis quis expedita ratione. Quam. 
            li.experience__content_list-item
                span.experience__company_name.bold company name </span>
                span.experience__company_date // Feb 2011 - Jun 2014
                p.experience__job_font-courier your job here
                p.experience__job_content-lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi aperiam omnis nemo nihil dolor inventore odit, esse dolorem ad dolores aspernatur accusamus quos, sed tempora a ipsum quibusdam saepe quam!
