mixin experience-element(name, date, position, text)

    li.experience__list-item
        span.experience__company-name= name 
        span.experience__company-date= ' // ' + date
        p.experience__job-position= position
        p.experience__job-text= text