include ./software/software

mixin softwares({softwares})
    .softwares
        each item in softwares
            +software({
                name: item.name,
                percentValue: item.percentValue
            })