mixin education-element(data)

    li.education-item
        span.education-item__degree-master= data.master_degree 
        span.education-item__degree-date= ' // '+ data.date
        p.education-item__university-name= data.university
        p.education-item__university-text= data.description
