mixin education-element({master_degree,date,university,description})

    li.education-item
        span.education-item__degree-master= master_degree 
        span.education-item__degree-date= ' // '+ date
        p.education-item__university-name= university
        p.education-item__university-text= description
