mixin education-item({masterDegree,date,university,description})

    li.education-item
        span.education-item__degree-master= masterDegree 
        span.education-item__degree-date= ' // '+ date
        p.education-item__university-name= university
        p.education-item__short-description= description
