mixin experience-item({companyName,date,position,description})

    li.experience-item
        span.experience-item__company-name= companyName 
        span.experience-item__company-date= ' // ' + date
        p.experience-item__job-position= position
        p.experience-item__short-description= description