mixin experience-item({company_name,date,position,description})

    li.experience-item
        span.experience-item__company-name= company_name 
        span.experience-item__company-date= ' // ' + date
        p.experience-item__job-position= position
        p.experience-item__job-text= description