mixin experience-element(data)

    li.experience-item
        span.experience-item__company-name= data.company_name 
        span.experience-item__company-date= ' // ' + data.date
        p.experience-item__job-position= data.position
        p.experience-item__job-text= data.description