.profile
  width 100%
  font-size 0.9375rem
  line-height 1.1875rem
  word-spacing 0.075rem
  padding-bottom 3.625rem
  
  &__content
    margin 0.4375rem 1.875rem 0 0.4375rem
  
  &__important-info
    font-weight bold 
 