mixin skill({name, valueScale, lengthScale})

    .skill
        h5.skill__name= name
        ul.skill__level
            - for (var i = 1; i<=lengthScale; i++) {
                if( i<=valueScale )
                    li.skill__scale.skill__scale_filler
                else
                    li.skill__scale
            - }