.skill-item
  width 100%
  padding-bottom 0.125rem
    
  &__name 
    margin 1.1875rem 1.125rem 0.3125rem 0
    font-size 1.625rem 
    font-weight normal 
    text-transform uppercase 
    text-align center 

  &__level 
    width 78%
    display flex
    margin 0 auto
    padding 0

  &__point
    border 0.57rem solid mainGray 
    display inline-block 
    border-radius 100% 
    margin-right 2.82%
    
    &_filled
      border 0.56rem solid  mainBlue 

    &:last-child
      margin-right 0 