mixin skill-item(skill)
    .skill-item
        h5.skill-item__name= skill.name
        ul.skill-item__level
            - for (var i = 1; i <= skill.lengthScale; i++) 
                li.skill-item__point(class=(i <= skill.valueScale) ? 'skill-item__point_filled' : '')
