.software-item
  margin-bottom 0.1875rem
  margin-top 1.375rem
  margin-left 0.1875rem
  margin-right 0.9375rem
  font-size 1.5rem 
  letter-spacing 0.05rem
  text-transform uppercase 
  max-width 99%
  width 45%

  &__scale 
    background-color mainGray 
    width 95% 
    height 1.43rem 
    margin-top 0.6875rem

    &_filled
      background-color mainBlue 
      height 100% 
      width 100% 