mixin education-element(master, date, university, text)

    li.education__list-item
        span.education__degree-master= master 
        span.education__degree-date= ' // '+ date
        p.education__university-name= university
        p.education__university-text= text