mixin education-element(master, date, university, text)

    li.education__content_list-item
        span.education__degree_color_blue= master 
        span.education__degree_date= ' // '+ date
        p.education__university_font_courier= university
        p.education__university_content_lorem= text