include ./../title/title

mixin education

    section.education
        +title('education')
        ul.education__content
            li.education__content_list-item
                span.education__degree_color_blue master degree </span>
                span.education__degree_date // Feb 2011 - Jun 2014
                p.education__university_font_courier university name
                p.education__university_content_lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam consectetur quae at ipsum blanditiis accusamus dicta, similique dolor. Repellat inventore unde ad, odit, optio tempora ex itaque alias reprehenderit. Minima.
            li.education__content_list-item
                span.education__degree_color_blue master degree </span>
                span.education__degree_date // Feb 2011 - Jun 2014
                p.education__university_font_courier university name
                p.education__university_content_lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil nobis enim quidem iusto ipsum doloribus reprehenderit id? Repellendus et porro voluptatibus facere eaque quasi, perspiciatis debitis quis expedita ratione. Quam.
            li.education__content_list-item
                span.education__degree_color_blue master degree </span>
                span.education__degree_date // Feb 2011 - Jun 2014
                p.education__university_font_courier university name
                p.education__university_content_lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi aperiam omnis nemo nihil dolor inventore odit, esse dolorem ad dolores aspernatur accusamus quos, sed tempora a ipsum quibusdam saepe quam!
            li.education__content_list-item
                span.education__degree_color_blue master degree </span>
                span.education__degree_date // Feb 2011 - Jun 2014
                p.education__university_font_courier university name
                p.education__university_content_lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates id voluptate est labore placeat possimus delectus esse, tenetur nemo velit distinctio explicabo saepe accusantium! Eos recusandae, sit iste quo!
