include ./education-item/education-item.pug

mixin education({education})
    ul.education
        each item in education
            +education-item({masterDegree: item.masterDegree,
                            date: item.date,
                            university: item.university,
                            description: item.description})