include ./education-item/education-item.pug

mixin education-list()
    ul.education-list
        +education-element('master degree',
            'Feb 2011 - Jun 2014',
            'university name',
            'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam consectetur quae at ipsum blanditiis accusamus dicta, similique dolor. Repellat inventore unde ad, odit, optio tempora ex itaque alias reprehenderit. Minima.')
        +education-element('master degree',
            'Feb 2011 - Jun 2014',
            'university name',
            'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam consectetur quae at ipsum blanditiis accusamus dicta, similique dolor. Repellat inventore unde ad, odit, optio tempora ex itaque alias reprehenderit. Minima.')
        +education-element('master degree',
            'Feb 2011 - Jun 2014',
            'university name',
            'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam consectetur quae at ipsum blanditiis accusamus dicta, similique dolor. Repellat inventore unde ad, odit, optio tempora ex itaque alias reprehenderit. Minima.')
        +education-element('master degree',
            'Feb 2011 - Jun 2014',
            'university name',
            'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam consectetur quae at ipsum blanditiis accusamus dicta, similique dolor. Repellat inventore unde ad, odit, optio tempora ex itaque alias reprehenderit. Minima.')
