include ./../title/title
include ./education-element/education-element

mixin education

    section.education
        +title('education')
        ul.education__content
            +education-element('master degree',
                'Feb 2011 - Jun 2014',
                'university name',
                'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam consectetur quae at ipsum blanditiis accusamus dicta, similique dolor. Repellat inventore unde ad, odit, optio tempora ex itaque alias reprehenderit. Minima.')
            +education-element('master degree',
                'Feb 2011 - Jun 2014',
                'university name',
                'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam consectetur quae at ipsum blanditiis accusamus dicta, similique dolor. Repellat inventore unde ad, odit, optio tempora ex itaque alias reprehenderit. Minima.')
            +education-element('master degree',
                'Feb 2011 - Jun 2014',
                'university name',
                'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam consectetur quae at ipsum blanditiis accusamus dicta, similique dolor. Repellat inventore unde ad, odit, optio tempora ex itaque alias reprehenderit. Minima.')
            +education-element('master degree',
                'Feb 2011 - Jun 2014',
                'university name',
                'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam consectetur quae at ipsum blanditiis accusamus dicta, similique dolor. Repellat inventore unde ad, odit, optio tempora ex itaque alias reprehenderit. Minima.')
