include ./modules/candidate/candidate.pug
include ./modules/profile/profile.pug
include ./modules/contact/contact.pug
include ./modules/skill/skill.pug
include ./modules/education/education.pug
include ./modules/experience/experience.pug
include ./modules/software/software.pug

doctype html 
html(lang="ru")
    head 
        meta(charset="utf-8") 
        title "resume" 
    body
        .resume
            .resume__column.resume__column_left
                .resume-elements.resume-elements__candidate
                    +candidate({imageUrl: 'mock-image', 
                        name: 'name here', 
                        surname: 'surname', 
                        profession: 'graphic designer'})
                .resume-elements.resume-elements__profile
                    +title({name: 'profile'})
                    +profile({text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.Odit vero dolorem suscipit molestias asperiores placeat iusto ab aperiam, nemo, ipsum labore veniam. Nesciunt unde similique, odio facere! Ea, non aliquam.Lorem ipsum dolor sit amet,consectetur adipisicing elit.Minima odio dicta, esse. Omnis laudantium dolorem, quisquam saepe, cum magni,totam tenetur labore natus, suscipit debitis illo. Rem illo consequuntur consequatur.Lorem ipsum dolor sit amet, consectetur ', 
                        importantText: 'adipisicing elit. Saepe quaerat architecto fugit esse error placeat vel, iusto blanditiis, adipisci, eius maxime et tenetur odit. Aut deleniti voluptate sunt, mollitia rem!'})
                .resume-elements.resume-elements__contact
                    +title({name: 'contact'})
                    +contact({address: 'Main Street, City.', 
                        eMail: 'contact@domain.com',
                        phone: '123123123',
                        website: 'www.yourweb.com' })
                .resume-elements.resume-elements__skills
                    +title({name: 'skills'})
                    +skill({name: 'creative',
                                    valueScale: 9,
                                    lengthScale: 12})
                    +skill({name: 'teamwork', 
                                    valueScale: 11,
                                    lengthScale: 12})
                    +skill({name: 'innovate', 
                                    valueScale: 6, 
                                    lengthScale: 12})
                    +skill({name: 'communication', 
                                    valueScale: 11, 
                                    lengthScale: 12})
            .resume__column.resume__column_right
                .resume-elements.resume-elements__education
                    +title({name: 'education'})
                    +education
                .resume-elements.resume-elements__experience
                    +title({name: 'experience'})
                    +experience
                .resume-elements.resume-elements__software
                    +title({name: 'software'})
                    +software({name: 'photoshop',
                                       percentValue: 95})
                    +software({name: 'dreamweaver',
                                       percentValue: 85})
                    +software({name: 'illustrator',
                                       percentValue: 75})
                    +software({name: 'after effects',
                                       percentValue: 70})
                    +software({name: 'indesign',
                                       percentValue: 60})
                    +software({name: 'html & css3',
                                       percentValue: 95})