include ./modules/candidate/candidate-mixin.pug
include ./modules/profile/profile-mixin.pug
include ./modules/contact/contact-mixin.pug
include ./modules/skills/skills-mixin.pug
include ./modules/education/education-mixin.pug
include ./modules/experience/experience-mixin.pug
include ./modules/software/software-mixin.pug

doctype html 
html(lang="ru")
    head 
        meta(charset="utf-8") 
        title "resume" 
    body
        .resume
            .resume__column.resume__column_left
                +candidate-mixin
                +profile-mixin
                +contact-mixin
                +skills-mixin
            .resume__column.resume__column_right
                +education-mixin
                +experience-mixin
                +software-mixin