include ./modules/resume/resume.pug
include ./modules/candidate/candidate.pug
include ./modules/profile/profile.pug
include ./modules/contact/contact.pug
include ./modules/skills/skills.pug
include ./modules/skill-item/skill-item.pug
include ./modules/education/education.pug
include ./modules/experience/experience.pug
include ./modules/softwares/softwares.pug
include ./modules/software-item/software-item.pug

doctype html 
html(lang="ru")
    head 
        meta(charset="utf-8") 
        title "resume" 
    body
        +resume