doctype html 

html(lang="ru")
    head 
        meta(charset="utf-8") 
        title "resume" 
    body
.resume
    .resume__column.resume__columnLeft
        .candidate
            .candidate__photo
                .candidate__photo_inside

            .candidate__name 
                .candidate__name_firstName name here
                .candidate__name_surname.bold surname
                .candidate__name_proffesion.bold graphic designer


        header.titleContent.titleContent__profile
            .title.titleProfile
                span.title__line

            .content.content-Profile
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit vero dolorem suscipit molestias asperiores placeat iusto ab aperiam, nemo, ipsum labore veniam. Nesciunt unde similique, odio facere! Ea, non aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima odio dicta, esse. Omnis laudantium dolorem, quisquam saepe, cum magni, totam tenetur labore natus, suscipit debitis illo. Rem illo consequuntur consequatur.Lorem ipsum dolor sit amet, consectetur
                    span.bold adipisicing elit. Saepe quaerat architecto fugit esse error placeat vel, iusto blanditiis, adipisci, eius maxime et tenetur odit. Aut deleniti voluptate sunt, mollitia rem!

        header.titleContent.titleContent__contact
            .title.titleContact.bold contact
                span.title__line
            .contact
                table.contact-table
                    tr
                        th.contact-question address
                        td.contact-value Main Street, City.
                    tr
                        th.contact-question e-mail
                        td.contact-value contact@domain.com
                    tr
                        th.contact-question phone
                        td.contact-value 555-555-555
                    tr
                        th.contact-question website
                        td.contact-value www.yourweb.com

        header.titleContent.titleContent__skills
            .title.titleSkills.bold skills
                span.title__line

            .content__skill
                h5.skill creative
                ul.skill__level
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value
                    li.skill__value
                    li.skill__value

            .content__skill
                h5.skill teamwork 
                ul.skill__level
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value

            .content__skill
                h5.skill innovate
                ul.skill__level
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value
                    li.skill__value
                    li.skill__value
                    li.skill__value
                    li.skill__value
                    li.skill__value

            .content__skill
                h5.skill communication
                ul.skill__level
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value.value_color-blue
                    li.skill__value

    .resume__column.resume__columnRight
        header.columnRight__education.titleContent.titleContent__education
            .title.titleEducation.bold education
                span.title__line
            ul.content__education
                li.education
                    span.education__level_color-blue.bold master degree </span> // Feb 2011 - Jun 2014
                    p.education__university_font-courier university name
                    p.education__university_content-lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam consectetur quae at ipsum blanditiis accusamus dicta, similique dolor. Repellat inventore unde ad, odit, optio tempora ex itaque alias reprehenderit. Minima.
                li.education
                    span.education__level_color-blue.bold master degree </span> // Feb 2011 - Jun 2014
                    p.education__university_font-courier university name
                    p.education__university_content-lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil nobis enim quidem iusto ipsum doloribus reprehenderit id? Repellendus et porro voluptatibus facere eaque quasi, perspiciatis debitis quis expedita ratione. Quam.
                li.education
                    span.education__level_color-blue.bold master degree </span>// Feb 2011 - Jun 2014
                    p.education__university_font-courier university name
                    p.education__university_content-lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi aperiam omnis nemo nihil dolor inventore odit, esse dolorem ad dolores aspernatur accusamus quos, sed tempora a ipsum quibusdam saepe quam!
               
                li.education
                    span.education__level_color-blue.bold master degree </span> // Feb 2011 - Jun 2014
                    p.education__university_font-courier university name
                    p.education__university_content-lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates id voluptate est labore placeat possimus delectus esse, tenetur nemo velit distinctio explicabo saepe accusantium! Eos recusandae, sit iste quo!

        header.titleContent.titleContent__expirience
            .title.titleExpirience.bold expirience
                span.title__line 

            ul.content__expirience
                li.expirience
                    span.expirience__company-name.bold company name </span> // Feb 2011 - Jun 2014
                    p.expirience__job_font-courier your job here 
                    p.education__job_content-lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam consectetur quae at ipsum blanditiisaccusamus dicta, similique dolor. Repellat inventore unde ad, odit, optio tempora ex itaque alias reprehenderit. Minima. 
                
                li.expirience
                    span.expirience__company-name.bold company name </span> // Feb 2011 - Jun 2014
                    p.expirience__job_font-courier your job here 
                    p.education__job_content-lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil nobis enim quidem iusto ipsum doloribus reprehenderit id? Repellendus et porro voluptatibus facere eaque quasi, perspiciatis debitis quis expedita ratione. Quam. 
                li.expirience
                    span.expirience__company-name.bold company name </span> // Feb 2011 - Jun 2014
                    p.expirience__job_font-courier your job here
                    p.education__job_content-lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi aperiam omnis nemo nihil dolor inventore odit, esse dolorem ad dolores aspernatur accusamus quos, sed tempora a ipsum quibusdam saepe quam!

        header.columnRight__software 
            .title.titlesoftware.bold software
                span.title__line
            .software
                .software__level photoshop
                    .software__level_color-gray
                        .software__level_color-blue.software__level_photoshop
                .software__level dreamweaver
                    .software__level_color-gray 
                        .software__level_color-blue.software__level_dreamweaver 
                .software__level illustrator
                    .software__level_color-gray 
                        .software__level_color-blue.software__level_illustrator
                .software__level after effects
                    .software__level_color-gray
                        .software__level_color-blue.software__level_afterEffects 
                .software__level indesign
                    .software__level_color-gray 
                        .software__level_color-blue.software__level_indesign
                .software__level html & css3
                    .software__level_color-gray 
                        .software__level_color-blue.software__level_htmlCss3
