include ./../title/title
include ./skill-element/skill-element

mixin skills

    header.skills
        +title('skills')
        +skill-element('creative', 9, 12)
        +skill-element('teamwork', 11, 12)
        +skill-element('innovate', 6, 12)
        +skill-element('communication', 11, 12)