include ./../title/title

mixin skills

    header.skills
        +title('skills')
        h5.skills__name creative
        ul.skills__level
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value
            li.skills__value
            li.skills__value

        h5.skills__name teamwork 
        ul.skills__level
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value

        h5.skills__name innovate
        ul.skills__level
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value
            li.skills__value
            li.skills__value
            li.skills__value
            li.skills__value
            li.skills__value

        h5.skills__name communication
        ul.skills__level
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value.skills__value_color-blue
            li.skills__value