include ./skill/skill

mixin skills({skills})
    .skills
        each item in skills
            +skill({name: item.name,
                    valueScale: item.valueScale,
                    lengthScale: item.lengthScale})
