mixin skills

    header.skills
        .title.title_skills.bold skills
            span.title__line
        .skills__content
            h5.skills creative
            ul.skills__level
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value
                li.skills__value
                li.skills__value

        .skills__content
            h5.skills teamwork 
            ul.skills__level
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value

        .skills__content
            h5.skills innovate
            ul.skills__level
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value
                li.skills__value
                li.skills__value
                li.skills__value
                li.skills__value
                li.skills__value

        .skills__content
            h5.skills communication
            ul.skills__level
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value.skills__value_color-blue
                li.skills__value