mixin skill-element(name, value, length)
    .skill
        h5.skill__name= name
        ul.skill__level
            - for (var i = 1; i<=length; i++) {
                if( i<=value )
                    li.skill__value.skill__value_color_blue
                else
                    li.skill__value
            - }
