.skills
  &__name 
    margin-bottom  0 
    font-size  1.28rem 
    font-weight  normal 
    text-transform  uppercase 
    text-align  center 
  &__level 
    text-align  center 
    margin-top  0.35rem 
    padding  0 
  &__value 
    list-style  none 
    border  0.57rem solid #E7E7E7 
    display  inline-block 
    border-radius  100% 
    margin-right  0.5rem 
    &_color_blue 
      border-color  #036FBC 